$primary: darkcyan;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap');

body{
  background-color: black;
  color: silver;
}
.nav {
  align-self: flex-end;
  background: black;
  color: #E34234;
  display: flex;
}

.container {
  height: 75vh;
}

.main-nav {
  align-self: flex-end;
  background: black;
  display: flex;
  justify-content: flex-end;
}

.new-game-bar {
  padding: 5px;
}

.board {
  max-height: calc(75vh - 100px);
  min-width: calc(75vh - 100px);
}

.btn-secondary {
  align-items: flex-end;
  background-color: silver;
}

.box {
  align-items: center;
  background: black;
  border-bottom: 3px solid darkcyan;
  border-right: 3px solid darkcyan;
  color: #E34234;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 12vh;
  justify-content: center;
  min-height: calc(100% / 3);
  text-shadow: 5px 5px rgba(0, 0, 0, .25);
  user-select: none;

  &:nth-child(3n) {
    border-right: 0px;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0px;
  }
}

.hover {
  &:hover {
    background-color: lightcyan;
    cursor: pointer;
  }
}
